<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="home">Brand</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul 
          class="nav navbar-nav"
          *ngIf="login"
        >
          <li routerLinkActive="active">
            <a 
             routerLink="home"
            >Home</a></li>
          <li routerLinkActive="active">
            <a 
              routerLink="complaints"
            >Complaints</a></li>
          <li routerLinkActive="active">
            <a 
            routerLink="users"
            >Users</a></li>
          <li routerLinkActive="active">
            <a 
              routerLink="places"
            >Places</a></li>
        </ul>
        <form class="navbar-form navbar-right">
            <button 
             type="button" 
             class="btn btn-default" 
             (click)="onLogin()"
            >{{ login? 'Logout': 'Login'}}</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
  