<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="home">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <div  *ngIf="login">
             
                <!-- admin view-->
                <ul class="nav navbar-nav"
                *ngIf="type == 'admin'"
                >
                  <li routerLinkActive="active">
                    <a routerLink="home">Home</a>
                  </li>
                  <li routerLinkActive="active">
                    <a [routerLink]="['/admin', 'complaints']">Complaints</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/admin/users">Users</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/admin/places">Places</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/admin/maintenances">Maintenance</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="/admin/bikes">bikes</a>
                  </li>
                </ul>
                <!--  user view  -->
                <ul class="nav navbar-nav"
                *ngIf="type == 'user'"
                >
                  <li routerLinkActive="active">
                    <a routerLink="home">Home</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="user"> User not work yet</a>
                  </li>
                </ul>
                <!-- maintainece view -->
                <ul class="nav navbar-nav"
                *ngIf="type == 'maintainance'"
                >
                  <li routerLinkActive="active">
                    <a routerLink="home">Home</a>
                  </li>
                  <li routerLinkActive="active">
                    <a routerLink="maintenace">maintainece not work yet</a>
                  </li>
                </ul>
                
          </div>
  
          <form class="navbar-form navbar-right">
              <button 
               type="button" 
               class="btn btn-default" 
               (click)="onLogin()"
              >{{ login? 'Logout': 'Login'}}</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
</nav>
  