.form-body{
    background: #FFF;
    padding: 11px;
    border-radius: 6px;
    left: 0;
    top: 5%;
    position: fixed;
    z-index: 3;
}
.form-body h4{
    text-align: center;
    font-weight: bold
}

.bg-body{
    width: 100%;
    margin-top: -226px;
    height: 684px;
    left: 0;
    position: fixed;
    z-index: 2;
    background: #00000036;
    
}

.btn{
    float: right;
    margin-left: 10px;
}
p{
    padding: 4px;
    text-align: left;
    color: #000
}