<div class="bg-body "></div>

<div class="form-body col-md-4 col-md-offset-4">
    <a 
    routerLink="/admin/bikes"
    class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></a>
  <h4>Add Bike</h4>
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group" [ngClass]="{'has-error': errorMessage != null}">
      <label class="control-label"> Bike name </label>
      <input 
      type="text" 
      class="form-control" 
      placeholder="Name"  
      name="name"
      ngModel
      required
     [(ngModel)]="name"
      (keyup)="onKey()"
      >
    </div>
    <span  class="help-block alert-danger">{{errorMessage}}</span>
    <button 
      [disabled]="!f.valid || errorMessage != null"
      type="submit" 
      class="btn btn-primary">OK</button>
    <a 
      routerLink="/admin/bikes"
      class="btn btn-default">Cancel</a>
  </form>
</div>