
.form-body{
    background: #FFF;
    padding: 11px;
    border-radius: 6px;
    top: 5%;
    position: fixed;
}
.form-body h4{
    text-align: center;
    font-weight: bold
}

.bg-body{
    width: 100%;
    margin-top: -76px;
    height: 684px;
    position: fixed;
    z-index: 0;
    background: #000000ba;
    
}

.btn{
    float: right;
    margin-left: 10px;
}