<div class="bg-body "></div>

<div class="form-body col-md-4 col-md-offset-4">
    <a 
    routerLink="/home"
    class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></a>
  <h4>Update Password</h4>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <label class="control-label"> Current Password </label>
      <input 
      [ngStyle]="{'border-color': !password.valid && password.touched? 'red': '#CCC'}"      
      type="password" 
      class="form-control" 
      placeholder="Current Password"  
      name="password"
      ngModel
      required
      minlength="6"
      #password="ngModel"
      >
    </div>

    <div class="form-group">
      <label class="control-label"> New Password </label>
      <input 
      [ngStyle]="{'border-color': !repassword.valid && repassword.touched? 'red': '#CCC'}"      
      type="password" 
      class="form-control" 
      placeholder="New Password"  
      name="repassword"
      ngModel
      required
      minlength="6"
      #repassword="ngModel"
      >
    </div>

   
    <button 
      [disabled]="!f.valid"
      type="submit" 
      class="btn btn-primary">Save</button>
    <a 
      routerLink="/home"
      class="btn btn-default">Cancel</a>

      <span
      class="help-block" style="color: #ff0000d1"
      *ngIf="message"
      >
        {{message}}
      </span>
  </form>
</div>