<img src="../../../assets/cyclists2.jpg" alt="">
<div class="bg-body "></div>
  <div class="table-container col-md-10 col-md-offset-1">

      <div class="input-group col-md-offset-4 col-md-4 search">
        <input 
        type="text" 
        class="form-control" 
        name="search" 
        placeholder="Search"
        [(ngModel)]="search"
        >
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      </div>
    <table class="table table-fixed" >
        <thead>
          <tr>
            <th class="col-xs-1"> 
               <span style=" left: 82px;position: absolute;">ID</span>
            </th>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-3">Email</th>
            <th class="col-xs-2">Created at</th>
            <th class="col-xs-2">Updated at</th>
            <th class="col-xs-1">Balance</th>
            <th class="col-xs-1">Action</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let user of users | nameFilter:search" >
            <td class="col-xs-1">
              <img 
                class="user-img" [src]="user.img? 'https://mousaelenanyfciscu.000webhostapp.com/public/images/' + user.img : './../../../assets/profile-img.png'"
              />
              <span class="ID">{{user.id}}</span>
              </td>
           
            <td class="col-xs-2">{{user.name}}</td>
            <td class="col-xs-3">{{user.email}}</td>
            <td class="col-xs-2">{{user.created_at === null? '2018-02-10 05:53:30': user.created_at}}</td>
            <td class="col-xs-2">{{user.updated_at === null? '2018-02-10 05:53:30': user.updated_at}}</td>
            <td class="col-xs-1">{{user.balance}}</td>
            <td class="col-xs-1">
              
              <!-- delete user -->
              
                <button
                data-toggle="modal" [attr.data-target]="'#' + user.id"
                class="btn btn-primary" >
                   <span class="glyphicon glyphicon-remove"></span>     
                </button>
          
               <!-- Modal for delete one-->
                <div class="modal fade" [attr.id]="user.id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel">Confirm Deletion</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure you want to delete 
                          <strong>{{user.name}}</strong> with id: <strong>{{user.id}}</strong> ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button 
                            (click)="onDelete(user.id)"
                            data-dismiss="modal"
                            type="button" class="btn btn-danger">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </td>
            
           
          </tr>
        </tbody>
    </table>
</div>
