@import url("./../bikes/bikes.component.css");

img.user-img{
    width: 80%;
    position: initial;
    z-index: 0;
    margin: -19px 0 -10px -9px;
    border-radius: 50%;
    height: 59px;    
}

table > tbody td{
    padding-top: 25px;
    padding-bottom: 16px; 
}

.table-container button[title="remove"]{
    margin-top: 0;
    position: relative;
    top: -5px;
}
.modal{
    color: rgb(58, 58, 58);
}
.modal-body{
    text-align: left;
}
.ID{
    margin-left: 13px;
    margin-right: -27px;
}