.close{
    color: red;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: .5;
    padding: 0 9px 4px;
    background: #ffffffa6;
    font-weight: bold;
    font-size: 30px;
}
.close:hover{
    opacity: .7;
}
.input-group-addon{
    font-size: 20px;
    border: 0;
    background: #FFF;
    color: rgba(185, 185, 185, 0.972);
}
.input-group{
    border: 1px solid #ccc;
    padding: 11px;
    margin: 23px 0;
    background: #fff;
    
}
.form-control{
    border: 0;
}

.form-border{
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    border-top: 7px solid #337ab7;
    padding: 38px;
    padding-top: 0;
    box-shadow: 0px 4px 15px 0px #999;
}
.form-border h2{
    text-align: center;
    color: #FFF;
}
.form-border .btn{
    background: #337ab7;    
    padding: 14px;    
    padding-bottom: 45px;
    font-size: 20px;
    color: #FFF;
}
.form-border .btn:hover{
    background: #286090;
}
.blure-form{
    /* background: rgba(173, 94, 53, 0.5); */
    /* background: rgba(232, 177, 167, 0.45);     */
    background: rgba(0, 0, 0, 0.73);
    height: 1000px;
    position: fixed;
    z-index: 16;
    margin-top: -72px;
}

@media (min-width: 992px) { 
    .form-border{
        margin-left: 30%;
        margin-top: 14%;
    }
    
 }
 input.form-control:focus{
     border: 0;
     background-color: #FFF;
     box-shadow: 0px 0 19px 1px #fff;
 }
 input:visited{
     border: 0;
     background-color:red;
 }
 .help-block{
        background: #fffafac2;
        margin-top: 21px;
        color: red;
        list-style: none;
        margin-bottom: -26px;
        text-align: center;
        padding-left: 0;
 }
 .error{
     color: red;
     box-shadow: 0px 0 20px 0px red;
     -webkit-box-shadow: 0px 0 20px 0px red;
 }
 .errorIcon{
     color: rgba(255, 0, 0, 0.527);
 }
 .change{
    color: #FFF;
    margin-top: 43px;
    margin-bottom: -29px;
    text-align: center;
 }
 .change button{
    padding: 5px;    
 }