<img class="bg-img" src="../../assets/cyclists1.jpg" alt="">
<div class="bg-body "></div>

<div class="col-md-8 col-md-offset-2 profile">
  <div class="col-md-5">
    <img src="https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-0/p206x206/21462407_845448262298506_3434035758328412976_n.jpg?_nc_cat=0&oh=870cf8976246d1dc4eec69fd7c22844e&oe=5B55DBEE" alt="" >
  </div>
  <div class="col-md-7">
    <h3> Mahmoud Samir</h3>
    <p>
      <strong>Email :</strong> mousamir15@gmail.com <br>
      <strong>Email :</strong> mousamir15@gmail.com <br>
      <strong>Email :</strong> mousamir15@gmail.com <br>
      <strong>Email :</strong> mousamir15@gmail.com <br>

    </p>
  </div>
</div>